<mat-toolbar class="app-toolbar">
  <span class="app-title">{{ title }}</span>
</mat-toolbar>

<nav class="mat-elevation-z2 nav-bar">
  <button mat-button routerLink="/ventas">Ventas</button>
  <button mat-button routerLink="/clientes">Clientes</button>
  <button mat-button routerLink="/reportes">Reportes</button>
  <button mat-button routerLink="/productos">Productos</button>
  <button mat-button routerLink="/zonas">Zonas</button>
</nav>

<div class="container mt-4">
  <router-outlet></router-outlet>
</div>
